.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 100%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}
input{
    font-size: large;
    border-radius: 5px;
}
button{
    font-size: large;
}
textarea{
    display: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
    padding: 1rem;
}
